body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at top, rgb(255, 233, 106), rgba(255, 237, 74, 0.733)),
    url('../public/tic-tac-toe.avif');
}

.App-logo {
  width: 100px;
  height: 100px;
}

#game-container {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 2rem;
  text-align: center;
}

ol {
  padding: 0;
}

#game-board>li>ol {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-board button {
  margin: 0.5rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 4rem;
}